[Unit]
Description=WeatherStar 4000+ Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__APP_DIR__
ExecStart=/usr/bin/node --env-file=.env index.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
